/dist/
/build/
/src/__pycache__/
/src/pywriter/__pycache__/
/src/pywriter/model/__pycache__/
/src/pywriter/plot/__pycache__/
/src/pywriter/converter/__pycache__/
/src/pywriter/fileop/__pycache__/
/test/__pycache__/
/tools/__pycache__/
/test/yw7/
/lo/dist/
/oo/dist/
