/src/__pycache__/
/src/pywriter/__pycache__/
/src/pywriter/model/__pycache__/
/src/pywriter/csv/__pycache__/
/src/pywriter/converter/__pycache__/
/src/pywriter/html/__pycache__/
/src/pywriter/odt/__pycache__/
/src/pywriter/yw/__pycache__/
/test/__pycache__/
/tools/__pycache__/
/test/yw7/
/lo/dist/
/oo/dist/
